[submodule "glfw"]
  path = external/glfw
  url = git@github.com:glfw/glfw.git

[submodule "external/abseil-cpp"]
	path = external/abseil-cpp
	url = git@github.com:abseil/abseil-cpp.git
[submodule "external/freetype2"]
	path = external/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
